mixin menu-item(id, label, link, count, selected=false)
  - var _a_class = (selected ? "bg-gray-200" : "")
  - var _label_class = (selected ? "text-gray-900" : "text-gray-700")

  a(id=id class=_a_class href=link)
    span.menu-name(class=_label_class)= label
    if count > 0
      span.menu-count= count